.header {
  margin-top: 30px;
  margin-bottom: 30px;
}

.header-title {
  font-size: 40px;
}

.header-description {
  font-size: 20px;
  width: 300px;
}

.blog-name {
  color: #6941c6;
}

.card-header {
  color: #6941c6 !important;
}

.card-title {
  font-weight: 400 !important;
  font-size: 35px;
}

.card-description {
  font-size: 20px;
  color: rgb(89, 89, 89);
}

.blog-count {
  background-color: #f0eeee;
  width: 32px;
  height: 32px;
  min-width: 32px;
  padding: 0;
}

.blog-description-title {
  font-size: 20px;
}

.blog-description-date {
  font-size: 16px;
  color: #6941c6;
}

.border-line {
  border-color: #b5b5b5 !important;
}

.featured-image {
  max-width: 483px;
  max-height: 240px;
  object-fit: cover;
}

.thumbnail-image {
  max-width: 100px;
  height: 100px;
}

/* MEDIUM AND LARGER SCREENS */
@media (min-width: 768px) {
  .header {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .header-title {
    font-size: 48px;
  }

  .header-description {
    width: 453px;
  }

  .card-title {
    font-weight: 400 !important;
    font-size: 40px;
  }

  .blog-description-title {
    font-size: 24px;
  }
}
