.header {
  margin-top: 30px;
  margin-bottom: 30px;
}

.header-title {
  font-size: 26px;
}

.header-description {
  font-size: 15px;
  width: 300px;
}

.blog-name {
  color: #6941c6;
}

.card-header {
  color: #6941c6 !important;
}

.card-title {
  font-weight: 500 !important;
  font-size: 18px;
  color: black !important;
}

.card-description {
  font-size: 15px !important;
  color: black !important;
}

.blog-count {
  background-color: #f0eeee;
  width: 32px;
  height: 32px;
  min-width: 32px;
  padding: 0;
  color: black !important;
}

.blog-description-title {
  font-size: 14px;
  color: black !important;
  font-weight: 500 !important;
}

.blog-description-date {
  font-size: 12px !important;
  font-weight: 500 !important;
  color: #6941c6;
}

.border-line {
  border-color: #b5b5b5 !important;
}
.featured-image {
  display: block;
  max-width: 483px;
  height: 179px;
  max-height: 240px;
  object-fit: cover;
}

.thumbnail-image {
  max-width: 100px;
  height: 100px;
  object-fit: cover;
}

.blog-page-description {
  font-size: 15px !important;
  color: black !important;
}

/* A BIT ABOVE SMALL SCREENS */
@media (min-width: 460px) {
  .featured-image {
    display: block;
    max-width: 483px;
    height: 220px;
    max-height: 240px;
    object-fit: cover;
  }
}

/* MEDIUM AND LARGER SCREENS */
@media (min-width: 768px) {
  .header {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .header-title {
    font-size: 36px;
  }

  .header-description {
    width: 453px;
    font-size: 17px;
  }

  .card-title {
    font-weight: 500 !important;
    font-size: 22px;
  }

  .card-description {
    font-size: 16px !important;
    color: black !important;
  }

  .blog-description-title {
    font-size: 16px;
    font-weight: 500 !important;
  }

  .blog-page-description {
    font-size: 17px !important;
    color: black !important;
  }

  .featured-image {
    display: block;
    max-width: 483px;
    height: 240px;
    max-height: 240px;
    object-fit: cover;
  }
}
