* {
  margin: 0;
  padding: 0;
  font-family: "Satoshi", sans-serif;
}

body {
  padding-left: 16px;
  padding-right: 16px;
}

nav{
  background-color: white;
  /* font-size: 26px; */
}

.navbar{
  font-size: 14px;

}

.navbar-brand{
  font-weight: 500 !important;

}

.navbar-toggler {
  border: none !important;
  box-shadow: none !important;
}

footer {
  margin-top: 100px;
}

footer p {
  font-size: 12px;
}

footer span {
  color: black;
}

@media (min-width: 768px) {
  /* Medium and larger screens */

  .centered-content {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}
